{% extends 'inc/base.html' %}

{% load static %}

{% block navbar %}
    {% include 'inc/navbar_auth.html' %}
{% endblock navbar %}

{% block mylegend %}
    <div class="col-md-8">
        <h2 class="col">Новый вопрос</h2>
    </div>
{% endblock mylegend %}

{% block content %}
    <form>
        <div class="form-group">
            <label for="title">Заголовок</label>
            <input type="text" class="form-control" id="title" placeholder="How to build a moon park?">
        </div>
        <div class="form-group">
            <label for="exampleFormControlTextarea1">Текст</label>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"
            placeholder="Hello"></textarea>
        </div>
        <div class="form-group">
            <label for="tags">Теги</label>
            <input type="text" class="form-control" id="tags" placeholder="moon, park, puzzle">
        </div>
    </form>
    <a href="/questions/ask" class="btn btn-outline-primary">Задать вопрос</a>
{% endblock content %}
