{% load static %}

<div class="answer row border shadow-sm mb-4">
    <div class="col-2">
        <div class="row">
            <div class="col-12 pt-4 pl-4">
                <img src="{% static 'img/anon.png' %}" class="img-avatar"/>
            </div>
        </div>
        <div class="row">
            <div class="col-12 pl-3">
                <a class="like btn btn-outline-primary btn-sm" href="#">+</a>
                <span> {{ answer.rating }} </span>
                <a class="like btn btn-outline-primary btn-sm" href="#">-</a>
            </div>
        </div>
    </div>
    <div class="col-8 mt-2">
        <div class="row">
            <div class="col">
                <a href="#" class="question-link">123</a>
                <input type="checkbox" aria-label="Checkbox for following text input">
                <p>{{ answer.text }}</p>
            </div>
        </div>
    </div>
</div>